/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Header Styles */
header {
  background-color:#52958B;
  padding: 20px;
  text-align: center;
}

/* Navigation Styles */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:#07575B;
  overflow: hidden;
  text-align: center;
}

nav ul li {
  float: left;
  text-align: center;
}

nav ul li a {
  display: block;
  color: #66A5AD;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

nav ul li a:hover {
  background-color: #C4DFE6;
  text-align: center;
}

/* Section Styles */
section {
  padding: 40px;
  background-color: aquamarine;
  text-align: center;
}

/* Footer Styles */
footer {
  background-color: #128277;
  padding: 20px;
  text-align: center;
}

