body {
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 20px;

  }
h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

post {
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.post h2 {
  color: white;
}

.post p {
  color: white;
}

.post .date {
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}

.post .author {
  color: white;
  font-size: 14px;
  font-style: italic;
}

