/* #E7E9EB */

table {
    /* display: inline; */
    /* display: block; */
    /* display: inline-block; */
    margin: 0 auto;
    width: 1000px;
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 2px 5px;
}

.align-right {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}

thead th:nth-child(1) {
    width: 20%;
}

thead th:nth-child(2) {
    width: 30%;
}

thead th:nth-child(3) {
    width: 20%;
}

thead th:nth-child(4) {
    width: 30%;
}

/* odd even */
tbody tr:nth-child(odd) {
    background-color: #E7E9EB;
}
